{% extends "base.twig" %}
{% block title %}Home{% endblock %}

{% block content %}
    {% include 'menu.twig' %}
    <main class="centered-container">
        <h1 style="font-size: 48px; text-align: center;">Welcome to Bookworm</h1>
        <p style="text-align: center;">Discover, rate, and discuss your favorite books!</p>

        <div class="image-container">
            <img src="../img/book_quote.png" alt="Book Quote">
        </div>
    </main>
{% endblock %}
