/* Reset default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

ul {
    list-style-type: none;
}

/* Centered container */
.centered-container {
    max-width: 800px;
    margin: 0 auto;
}

.centered-container-catalogue {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Header styles */
h1 {
    margin-bottom: 20px;
    text-align: center;
}

/* Forum list styles */
#forumList {
    list-style-type: none;
    padding: 0;
}

#forumList li {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 10px;
}

#forumList li strong {
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 10px;
}

#forumList li p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Post list styles */
.post-list ul {
    list-style-type: none;
    padding: 0;
}

.post-list li {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 10px;
}

.post-list li p {
    margin: 0;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Button styles */
button,
input[type="submit"] {
    background-color: #999;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    transition: background-color 0.3s ease;
}

button:hover,
input[type="submit"]:hover {
    background-color: #777;
}

a.menuit {
    text-decoration: none;
    display: block;
    transition: color 0.3s ease;
    background-color: #999;
    color: white !important;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
}

a.menuit:hover,
a.menuit:focus {
    text-decoration: underline;
    background-color: #777;
}

a:visited {
    color: #555;
}

/* Form styles */
form.form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover,
a:focus {
    color: #444;
    text-decoration: underline;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.custom-btn,
.custom-btn-goto {
    display: inline-block;
    background-color: #999;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-btn:hover,
.custom-btn-goto:hover {
    background-color: #777;
    color: white;
}

a.custom-btn-goto {
    display: inline-block;
    background-color: #999;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

a.custom-btn-goto:hover {
    background-color: #777;
}

.book-details {
    margin-bottom: 10px;
}

.book-details div section {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.search-results {
    margin-top: 40px;
}

.search-results h2 {
    text-align: center;
    margin-bottom: 20px;
}

.search-results div section {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.search-results .category {
    font-weight: bold;
    margin-top: 20px;
}

.categories {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

/* Category styles */
.category {
    flex: 0 0 auto;
    width: calc(20% - 20px);
    margin-right: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center; /* Center text and elements horizontally */
}

/* Books within category */
.books {
    text-align: center;
    margin: 10px auto;
    list-style-type: none;
    padding: 0;
}

.books li {
    margin-bottom: 20px;
    width: 180px; /* Width of each book tile */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center; /* Center content horizontally */
}

.books li .book-details {
    text-align: center;
}

.books li img {
    max-width: 120px;
    height: auto;
    margin: 10px auto; /* Center the image horizontally within the book tile */
    display: block;
    border-radius: 5px;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination button {
    background-color: #999;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5px;
}

.pagination button:hover {
    background-color: #777;
}

#createBookBtn {
    display: block;
    background-color: #999;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
    text-align: center;
}

#createBookBtn:hover {
    background-color: #777;
}

#createBookForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    width: 80%;
}

#createBookForm label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.cancel-btn {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn:hover {
    background-color: #d32f2f;
}

.custom-file-upload {
    font-weight: normal;
    display: inline;
}

/* Flash message styling */
.flash-message, .error-messages, .success-message {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
}

.flash-message {
    color: red;
}

.error-messages {
    color: red;
}

.success-message {
    color: green;
}

/* Profile picture */
.profile-picture-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#profile-picture-display, #no-profile-picture {
    max-width: 400px;
    border-radius: 15px;
}

/* Form styling */
form .form-group {
    margin-bottom: 20px;
    text-align: left;
}

form .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form .form-group input[type="text"], form .form-group input[type="email"], form .form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.button-container {
    text-align: center;
}

.button-container input[type="submit"] {
    padding: 10px 20px;
    background-color: #999;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container input[type="submit"]:hover {
    background-color: #777;
}

/* Book Details Page */
.book-details {
    text-align: center;
    margin: 20px;
}

.book-info {
    text-align: left;
    margin-bottom: 20px;
}

.book-section {
    margin-bottom: 20px;
}

.book-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.book-section p {
    margin: 0;
}

.cover-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.book-cover {
    max-width: 100%;
    border-radius: 15px;
}

/* Rating & Review Section */
.rating-review-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rating-section, .review-section {
    margin-bottom: 20px;
}

.button-container {
    margin-top: 10px;
}


/* Menu styles */
.menu-list button,
.menu-list a {
    text-decoration: none;
    background-color: #f2f2f2;
    color: #333;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.menu-list a:hover {
    background-color: none;
}

.menu-list button:hover {
    background-color: #e0e0e0;
}

.menu-list li {
    display: inline;
}

.menu-list li:first-child {
    margin-right: auto;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-container img {
    width: 200px;
    height: auto;
    margin: 0 10px;
    border-radius: 5px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list li {
    margin-right: 10px;
}

.menuIt {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
}

.menuIt:hover {
    background-color: #f0f0f0;
}

